<form
  class="create_task_form"
  (ngSubmit)="createNewList()"
  [formGroup]="newListForm"
>
  <mat-form-field
    hideRequiredMarker
    (color)="(!newListForm.invalid ? 'accent' : 'warn')"
    class="input-full-width"
  >
    <mat-label> create new list </mat-label>
    <input
      #value
      required
      matInput
      minlength="1"
      formControlName="title"
      placeholder="title"
    />
  </mat-form-field>

  <button
    matSuffix
    mat-icon-button
    [disabled]="newListForm.invalid"
    color="primary"
    type="submit"
  >
    <mat-icon>add</mat-icon>
  </button>
  <mat-error *ngIf="title.length > 50">
    title should be less than 50 charcaters
  </mat-error>
</form>
