<form
  class="create_task_form"
  (ngSubmit)="createNewList()"
  [formGroup]="newListForm"
>
  <mat-form-field (color)="(!newListForm.invalid ? 'accent' : 'warn')">
    <mat-label> create new list 2 </mat-label>
    <input
      #value
      matInput
      [(ngModel)]="title"
      minlength="1"
      value=""
      formControlName="title"
      placeholder="title"
    />
  </mat-form-field>

  <button
    mat-icon-button
    [disabled]="[newListForm.invalid || title.length <= 0]"
    color="primary"
    type="submit"
  >
    <mat-icon matListIcon>add</mat-icon>
  </button>
  <mat-error *ngIf="title.length > 50">
    title should be less than 50 charcaters
  </mat-error>
  <mat-error *ngIf=""> </mat-error>
</form>
