<form [formGroup]="createNewTask" class="create-task-form">
  <mat-form-field class="formInput" appearance="fill">
    <mat-label> title </mat-label>
    <input matInput type="text" formControlName="title" />
  </mat-form-field>

  <mat-form-field class="formInput" appearance="fill">
    <mat-label> content </mat-label>
    <textarea matInput formControlName="content" placeholder=""></textarea>
  </mat-form-field>

  <mat-form-field class="formInput" appearance="fill">
    <mat-label>Choose due</mat-label>
    <input matInput [matDatepicker]="picker" disabled />
    <mat-datepicker-toggle matPrefix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker disabled="false" #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="formInput" appearance="fill">
    <mat-label> priority</mat-label>
    <mat-select formControlName="priority">
      <mat-option *ngFor="let each of priorityOptions" [value]="each">
        {{ each.colour }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button color="primary" matSuffix mat-flat-button type="submit">
    Submit
  </button>
</form>
