<!-- list all the tasks that a person has -->

<mat-card class="heading-title">
  <mat-card-title class="app-title">Over Engineered Todo list</mat-card-title>
</mat-card>

<mat-list>
  <mat-accordion multi>
    <mat-expansion-panel *ngFor="let tasks of todoLists$ | async">
      <mat-expansion-panel-header>
        <h4>{{ tasks.title }}</h4>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <p [hidden]="deleteButton.disabled == true ? true : false">
          {{ tasks.content }}
        </p>
        <div [hidden]="deleteButton.disabled == false ? true : false">
          <form [formGroup]="editTodoForm" (ngSubmit)="editTodo(tasks.id)">
            <mat-form-field>
              <mat-label> Edit Title</mat-label>
              <input
                matInput
                formControlName="title"
                placeholder="{{ tasks.title }}"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label> Edit Content</mat-label>
              <input
                matInput
                formControlName="content"
                placeholder="{{ tasks.content }}"
              />
            </mat-form-field>
            <button
              mat-flat-button
              color="accent"
              type="submit"
              [disabled]="editTodoForm.invalid"
            >
              Finalise
            </button>
          </form>
        </div>
        <div class="push">
          <button
            class="button"
            mat-icon-button
            (click)="deleteButton.disabled = !deleteButton.disabled"
            [ngStyle]="{
              color: deleteButton.disabled == true ? 'green' : 'grey'
            }"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button #deleteButton mat-icon-button (click)="deleteTodo(tasks.id)">
            <mat-icon
              [ngStyle]="{
                color: deleteButton.disabled == true ? 'grey' : 'red'
              }"
            >
              delete
            </mat-icon>
          </button>
        </div>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>

  <ng-container
    *ngIf="!(selectTodoTotal$ | async) as total"
    hidden="false"
    style="margin-top: 100%; margin-bottom: 100%;"
    matLine
  >
    <mat-card style="margin-top: 50%; margin-bottom: 50%; width: 400px;">
      <mat-card-title (click)="focusInput()">
        No tasks found
      </mat-card-title>
      <mat-card-content>
        add tasks below👇
      </mat-card-content>
    </mat-card>
  </ng-container>

  <ng-content></ng-content>
</mat-list>
