:host {
  max-height: 100vh;
  max-width: 100vw;
}

.add-todo {
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.add-task-icon {
  margin-bottom: 2rem;
}
mat-card {
  max-width: 600px;
}
mat-form-field {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

.transparent-card-bg {
  background-color: transparent;
  box-shadow: none;
}

.solid-card-bg {
  background-color: white;
}

.div-close-button {
  display: flex;
  justify-content: flex-end;
}
.close-button {
  margin: 0px 1rem;
}
@media (min-width: 960px) {
  :host {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
  }
  .add-todo {
    bottom: 0px;
    left: auto;
    right: auto;
    position: fixed;
    place-self: center;
  }
}
