<mat-card
  class="add-todo"
  [class.transparent-card-bg]="showForm.hidden === true"
>
  <form
    [formGroup]="addTodoForm"
    (ngSubmit)="addTask()"
    #showForm
    [hidden]="(isWideScreen$ | async) ? true : false"
  >
    <div class="div-close-button">
      <button
        class="close-button"
        type="button"
        mat-icon-button
        (click)="showForm.hidden = true"
      >
        <mat-icon class="close-icon" *ngIf="isWideScreen$ | async">
          close
        </mat-icon>
      </button>
    </div>
    <mat-form-field appearance="outline">
      <mat-label> Title</mat-label>
      <input
        #titleInputFocus
        autofocus
        matInput
        placeholder="todo or not to do?"
        formControlName="title"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Content </mat-label>
      <input
        matInput
        placeholder="... that is the question?"
        formControlName="content"
      />
    </mat-form-field>
    <button
      [disabled]="addTodoForm.invalid"
      class="add-task-button"
      color="primary"
      mat-icon-button
      aria-label="Add new task"
      type="submit"
    >
      <mat-icon>add_task</mat-icon>
    </button>
  </form>
  <button
    *ngIf="isWideScreen$ | async"
    style="margin-top: 2rem;"
    [ngStyle]="{ opacity: '1' }"
    mat-fab
    (click)="
      showForm.hidden === true
        ? (showForm.hidden = false)
        : (showForm.hidden = true)
    "
  >
    <mat-icon>
      add
    </mat-icon>
  </button>
</mat-card>
