<app-create-lists></app-create-lists>
<mat-list class="list-div">
  <div mat-subheader>Tasks</div>
  <ng-container *ngIf="todolists$ | async as tdl">
    <ng-container *ngIf="tdl.length > 0; else block">
      <mat-list-item class="item-div" *ngFor="let list of tdl">
        <mat-checkbox #click hidden></mat-checkbox>
        <button mat-icon-button (click)="click.checked = !click.checked">
          <mat-icon
            color="primary"
            mat-list-icon
            *ngIf="
              click.checked
                ? 'keyboard_arrow_down'
                : 'keyboard_arrow_right' as arrow
            "
          >
            {{ arrow }}
          </mat-icon>
        </button>

        <a
          mat-flat-button
          [routerLink]="['./list', 'list']"
          routerLinkActive="router-link-active"
          color="primary"
        >
          <div matLine>{{ list.listTitle }}</div>
        </a>
        <app-delete-tdl [todoListToDelete]="list"></app-delete-tdl>
      </mat-list-item>
    </ng-container>
    <ng-template #block>
      <mat-list-item>create a new list above</mat-list-item>
    </ng-template>
  </ng-container>
</mat-list>
