<mat-list class="list-div"
  ><div mat-subheader>TodoLists</div>
  <div class="create_tdl">
    <app-create-lists></app-create-lists>
  </div>
  <ng-container *ngIf="todolists$ | async as tdl">
    <ng-container *ngIf="tdl.length > 0; else block">
      <ng-container *ngFor="let list of tdl; let idx = index">
        <mat-list-item class="item-div">
          <mat-checkbox #click hidden></mat-checkbox>
          <mat-icon
            class="m-icon"
            mat-list-icon
            (click)="click.checked = !click.checked"
          >
            <mat-icon
              color="primary"
              mat-list-icon
              *ngIf="
                click.checked
                  ? 'keyboard_arrow_down'
                  : 'keyboard_arrow_right' as arrow
              "
            >
              {{ arrow }}
            </mat-icon>
          </mat-icon>
          <div class="child" #editTitle [hidden]="true">
            <form
              [formGroup]="updateInput"
              (ngSubmit)="
                updateTitle(
                  list.listTitle,
                  updateInput.get('updateTitle').value,
                  list.tasks
                )
              "
            >
              <mat-form-field appearance="standard">
                <input
                  formControlName="updateTitle"
                  matInput
                  [placeholder]="list.listTitle"
                />
                <mat-icon matSuffix>update</mat-icon>
              </mat-form-field>
            </form>
          </div>

          <button mat-button class="child">
            <a
              #taskListButton
              routerLink="/tdl-tasks"
              routerLinkActive="router-link-active"
              color="primary"
              [hidden]="false"
              (click)="detailCurrentDoList(list)"
            >
              {{ list.listTitle }}
            </a>
          </button>
          <mat-icon
            class="m-icon"
            (click)="
              editTitle.hidden = !editTitle.hidden;
              taskListButton.hidden = !taskListButton.hidden
            "
          >
            edit
          </mat-icon>
          <app-delete-tdl
            class="m-icon"
            [todoListToDelete]="list"
          ></app-delete-tdl>
        </mat-list-item>
        <mat-list *ngIf="click.checked">
          <h3 mat-subheader>Tasks: {{ list.tasks.length }}</h3>
          <mat-list-item *ngFor="let task of list.tasks">
            <p matLine>{{ task.title }}</p>
          </mat-list-item>
        </mat-list>
      </ng-container>
    </ng-container>
    <ng-template #block>
      <mat-list-item>create a new list above</mat-list-item>
    </ng-template>
  </ng-container>
</mat-list>
