<div mat-subheader>Tasks</div>
<div class="create_tdl">
  <app-create-lists></app-create-lists>
</div>

<mat-list class="list-div">
  <ng-container *ngIf="todolists$ | async as tdl">
    <ng-container *ngIf="tdl.length > 0; else block">
      <mat-list-item class="item-div" *ngFor="let list of tdl">
        <mat-checkbox #click hidden></mat-checkbox>
        <ng-container
          class="m-icon"
          mat-list-icon
          (click)="click.checked = !click.checked"
        >
          <mat-icon
            color="primary"
            mat-list-icon
            *ngIf="
              click.checked
                ? 'keyboard_arrow_down'
                : 'keyboard_arrow_right' as arrow
            "
          >
            {{ arrow }}
          </mat-icon>
        </ng-container>
        <div class="child" #editTitle [hidden]="true">
          <mat-form-field appearance="standard">
            <input matInput [placeholder]="list.listTitle" />
          </mat-form-field>
        </div>
        <small
          class="child"
          [routerLink]="['./list', 'list']"
          routerLinkActive="router-link-active"
          color="primary"
          #taskListButton
          [hidden]="false"
        >
          {{ list.listTitle }}
        </small>

        <mat-icon
          class="m-icon"
          (click)="
            editTitle.hidden = !editTitle.hidden;
            taskListButton.hidden = !taskListButton.hidden
          "
        >
          <mat-icon>edit</mat-icon>
        </mat-icon>
        <app-delete-tdl
          class="m-icon"
          [todoListToDelete]="list"
        ></app-delete-tdl>
      </mat-list-item>
    </ng-container>
    <ng-template #block>
      <mat-list-item>create a new list above</mat-list-item>
    </ng-template>
  </ng-container>
</mat-list>
